<div class="random-joke-block">
  <h1>Chuck Norris joke</h1>  
  <img src="../assets/img/chuck.png" class="random-joke-block__chuck-icon" />
  <button (click)="getJoke()" class="button">Get random joke</button>
  <textarea name="jokeChuck" 
    cols="30" 
    rows="10" 
    [(ngModel)]="joke" 
    readonly
    class="random-joke-block__joke-text">
  </textarea>  
</div>

<div class="category-joke-block">
  <div class="category-joke-block__joke-control">
    <select name="category" [(ngModel)] = "category" class="category-joke-bloc__selector">
      <option *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>    
    </select>
    <button (click)="getCategoryJoke()" class="button">Get category joke</button>
  </div>
  

  <textarea name="jokeChuck" 
    cols="30" 
    rows="10" 
    [(ngModel)]="categoryJoke" 
    readonly
    class="random-joke-block__joke-text">
  </textarea> 
</div>


